<div class="mt-4">

    <div div class="row col-sm-5 col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h3><strong>{{title}}</strong></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5 col-md-4">
                        <div class="card">
                            <div class="card-header text-center">
                                <strong> Seção 04 - Aula 21. Interpolation</strong>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Exemplo de interpolation </h5>
                                <h6>valor vindo direto do arquivo type script</h6>
                                <p class="card-text">Variavel Nome= <strong>{{nome}}</strong> </p>
                                <p class="card-text">Variavel Idade= <strong>{{idade}}</strong> </p>
                                <h6>fazendo comparação booleana</h6>
                                <p class="card-text">{{nome}} tem mais de 30? <strong>{{idade > 30}}</strong> </p>
                                <h6>fazendo conta</h6>
                                <p class="card-text">Fazendo conta 10 % 2 <strong>{{10 % 2}}</strong> </p>
                            </div>
                        </div>
                    </div>


    <div class="col-sm-5 col-md-4" *ngIf="true">
        <div class="card">
            <div class="card-header text-center">
                <strong>Seção 04 - 22. Property Binding</strong>
            </div>
            <div class="card-body">
                <h5 class="card-title">É a funcionalidade de alimentar a tela com informações/valores vindo do "backend" do Angular o TypeScript</h5>
                <p class="card-text">Toda a logica está no arquivo <strong>data-binding.component.ts</strong> que é o arquivo que contém toda a logica 
                    necessária para que a tela funcione
                </p>
                <p><strong>Nome vindo do TS: </strong><span [textContent]="nome"></span></p>
                <button class="btn btn-primary" [disabled]="checkedDisabled">Desabilitar</button>
                <div class="row">
                    <p>Caminho da imagem proveniente da propriedade imgSRC do typeScript <img [src]="imgSRC" [title]="imgTitle"></p>
                </div>
            </div>
        </div>
    </div>

                    <div class="col-sm-5 col-md-4" *ngIf="false">
                        <div class="card">
                            <div class="card-header text-center">
                                Seção 03 Aula 16. ngOnChanges
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Valores exibidos no console para essa aula</h5>
                                <p class="card-text">Toda a logica está no arquivo <strong>tiltle ➜
                                        title.component.ts</strong> que é o arquivo que contém a
                                    configuração de entrada do Angular

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<br>
<p>.</p>