################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs/*
/.vs/Angular/FileContentIndex
/.vs/slnx.sqlite
